* {
    font-family: poppins;

    color: #192f60;
}

.con {
    position: absolute;
    top: 15px;

}

.item {


    text-align: center;


}


.log {
    margin: 20px;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    padding: 8px;
    border-radius: 5%;
    font-weight: bold;
}

.signup {

    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #ffffff;
    padding: 8px;
    border-radius: 5%;
    font-weight: bold;
}

.signup:hover {
    background-color: #eb2929;
    border-color: darkmagenta;
    color: black;
}

.log:hover {
    background-color: #eb2929;
    color: black;
}



.logo {
    background-color: white;
    text-align: center;
    font-weight: 600;
    font-size: 48px;
    width: 83px;
    height: 76px;
    position: relative;
    left: 45%;
    margin: 15px;
    border-radius: 50%;
    padding-left: 15px;


}

a.a {
    color: #eb2929;
    text-decoration: none;

}

.heading {

    font-weight: 600;
    line-height: 1.53;
    letter-spacing: normal;

    color: #ffffff;
    text-align: center;
    font-family: Poppins;

}

.drop {
    width: 15em;
    margin: 20px;
    height: 3em;
    color: #636f88;
    -webkit-appearance: none;
    cursor: pointer;
    padding-left: 2%;
}

.fa-search:before {
    content: "\f002";
    position: relative;
    right: 20rem;
    color: #74819e;
    top: 2px;
}

.search {
    width: 21em;
    height: 3em;
    color: #636f88;
    padding-left: 5%;
}




.bold {
    margin-top: -66px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
    margin-left: 30px;
}

.para {

    font-family: Poppins;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #8c96ab;
    margin-left: 30px;
    margin-bottom: 30px;
}


.item1 {
    height: 150px;
    width: 350px;
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 30px;
    box-shadow: 0 3px 6px 0 #192f60;
    background-color: #ffffff;
}

.left {
    width: 40%;
    display: inline-block;
}

.right {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    margin-left: 20px;
}
.imgbox{
    margin-left: -9%;
}

.righthd {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
}

.rightdn {
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #8c96ab;
}

marquee {
    color: red;
    font-weight: 600;
}

.log-signup {}


.center {
    margin-top: 35px;
}

/*--- Media  queries--*/


@media screen and (max-width:600px) and (min-width: 480px) and (min-width: 280px){
    .logo {

        left: 37%;


    }
    main{
        margin: 20px;
    }
    .bold{
        margin-left: 20px;
    }
    .para{
        margin-left: 20px;
    }
    .drop {

        padding-left: 5%;
        width: 18em;

    }

    .search {

        padding-left: 10%;
        width: 18em;
        margin-left: 18px;
    }






    /*--- small menu for login & signup--*/



    .fa-search:before {
        content: "\f002";
        position: relative;
        right: 17rem;
        color: #74819e;
        top: 2px;
    }

    .home-img {
        height: 380px;
    }


    /*--- END--*/


}

